Data Preprocessing..................................

In [1]:
import numpy as np
import pandas as pd

In [2]:
movie=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

We are merging the movie and credits

In [5]:
movie=movie.merge(credits,on='title')

In [6]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

We are keeping important Imformation

In [8]:
movies=movie[['movie_id','title','overview','genres','keywords','cast','crew']]

we have to keep
#genres
#id
#keywords
#title
#overview
#cast
#crew

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

To find the missing Value

In [11]:
movies.isnull().sum()# 3rows/movies in which overview we donot know

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

To drop Duplicate File

In [13]:
movies.duplicated().sum()

np.int64(0)

To convert the Genre,overview,keywords,cast,crew into one single column that is tag

For Genres and keywords(We want only name here)

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
#To convert string into list
#import asl
#ast.literal_eval()

In [16]:
import ast
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

for i in ast.literal_eval(obj):

ast.literal_eval(obj) takes obj, which is usually a string representation of a list of dictionaries,
for example:
"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]"

After literal_eval, this string becomes a real Python list:
[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}]
Then the for i in ... loop iterates over this list of dictionaries, assigning each dict to i.

In [17]:
movies['genres']=movies['genres'].apply(convert)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\1567952790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(convert)

In [18]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
movies['keywords']=movies['keywords'].apply(convert)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\1621871954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(convert)

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

For cast(we want 3 Actors)

In [21]:
import ast
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if(counter!=3):
           l.append(i['name'])
        else:
            break
    return l

In [22]:
movies['cast']=movies['cast'].apply(convert3)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\670030197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(convert3)

In [23]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

For crew(We want only Director Here)

In [24]:
import ast
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if(i['job']=='Director'):
           l.append(i['name'])
           break
    return l

In [25]:
movies['crew']=movies['crew'].apply(fetch_director)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\1426843941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(fetch_director)

In [26]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

For Overview(convert the sentence into list)

In [27]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\1104793012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['overview']=movies['overview'].apply(lambda x:x.split())

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

To remove all the gap between the word

In [29]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\568931677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\568931677.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\568931677.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\568931677.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

Concartenating the overview,genres,keyword,cast,crew into one single column that is tag

In [31]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\694219746.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
new_df=movies[['movie_id','title','tags']]
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

To convert the list into string

In [34]:
new_df['tags']=new_df['tags'].apply(lambda X:" ".join(X))

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\1925364694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda X:" ".join(X))

In [35]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [36]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee JamesCameron'

To Discard all the similar words like(loved,love,loving) into single word called love

In [37]:
import nltk

In [38]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [39]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

for i in text.split():
âœ… Explanation:

You iterate over each word in text.

text.split() splits the string into a list of words based on spaces.

Example: "I am running" â†’ ["I", "am", "running"]

So, i will take each word one by one.


 y.append(ps.stem(i))
âœ… Explanation:

Here, you apply ps.stem(i) on each word i.

ps is presumably a PorterStemmer object from NLTK (commonly initialized with ps = PorterStemmer() before).

.stem() reduces the word to its root form.

Example: running â†’ run, fishing â†’ fish.

The stemmed word is then appended to list y.


return " ".join(y)
âœ… Explanation:

You join the list of stemmed words y back into a single string, separated by spaces.

Example: ['I', 'run'] â†’ "I run"

Finally, the stemmed string is returned.

In [40]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

To convert the tag into lower case

In [41]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\iemss\AppData\Local\Temp\ipykernel_2304\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [42]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bondâ€™ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

Vectorization....................................

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

we have converted all the words into vectors

from sklearn.feature_extraction.text import CountVectorizer
âœ… Explanation:

You are importing the CountVectorizer class from the sklearn.feature_extraction.text module.

CountVectorizer is a tool to convert a collection of text documents into a matrix of token counts (basically, a bag-of-words model).

This means it takes text and turns it into numbers so machine learning models can work with it.


cv = CountVectorizer(max_features=5000, stop_words='english')
âœ… Explanation:

You are creating an instance of CountVectorizer named cv.

max_features=5000

This limits the vocabulary to the top 5,000 most frequent words across all documents.

So if the dataset has, say, 20,000 unique words, only the 5,000 most common ones are kept, which helps to reduce dimensionality.

stop_words='english'

This removes English stop words (like the, is, and, etc.) from the token list.

These words usually do not carry important meaning for many NLP tasks.

In [44]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [45]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [46]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoÃ«kravitz'],
      dtype=object)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

we are calculating the distance with the help of cosine function 1 means they are similar 0 means not similar

Exactly â€” youâ€™ve got the idea.

If your vectors array represents, say, 4806 movies, where each movie is represented by a feature vector (e.g., TF-IDF of its plot, or an embedding), then:

similarity = cosine_similarity(vectors)
will produce a 4806 Ã— 4806 matrix, where:

similarity[i, j] measures how similar movie i is to movie j based on their vector representations.

So row 0 (i.e., similarity[0, :]) gives you the similarity of the first movie with all 4806 movies, including itself (which will always be 1, because the cosine similarity of a vector with itself is 1).

Thatâ€™s exactly how youâ€™d build a content-based recommender:
âœ… pick one movieâ€™s vector
âœ… measure cosine similarity to all other movies
âœ… recommend the movies with the highest similarity scores

In [48]:
similarity[0]# first movie with other all movies

array([1.        , 0.06668313, 0.07644708, ..., 0.04307305, 0.        ,
       0.        ])

In [49]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, np.float64(1.0000000000000002)),
 (1214, np.float64(0.27028123880866767)),
 (582, np.float64(0.23162743094465488)),
 (2329, np.float64(0.22996655275195)),
 (539, np.float64(0.22613350843332272)),
 (507, np.float64(0.22438727760202976)),
 (1916, np.float64(0.22305671869347435)),
 (3728, np.float64(0.220043114711676)),
 (2405, np.float64(0.2175970699446223)),
 (4046, np.float64(0.20889318714683738)),
 (2782, np.float64(0.20695933859617893)),
 (322, np.float64(0.20691022044226628)),
 (1202, np.float64(0.2000494010134742)),
 (778, np.float64(0.19968076595771794)),
 (61, np.float64(0.19943100880436643)),
 (577, np.float64(0.19827263883864388)),
 (972, np.float64(0.19827263883864388)),
 (2969, np.float64(0.19462473604038075)),
 (4190, np.float64(0.1928473039599675)),
 (3606, np.float64(0.18993429409939655)),
 (74, np.float64(0.186370957476581)),
 (3997, np.float64(0.18463723646899916)),
 (1087, np.float64(0.1842569327975222)),
 (1440, np.float64(0.18281810603178267)),
 (260, np.float64(0.1809806914982567)),
 (973, np.float64(0.1809806914982567)),
 (151, np.float64(0.18090680674665818)),
 (47, np.float64(0.17986923354612536)),
 (1192, np.float64(0.17837651700316892)),
 (3325, np.float64(0.1776672636296754)),
 (3671, np.float64(0.175919798853417)),
 (1533, np.float64(0.17588161767036212)),
 (495, np.float64(0.17407765595569785)),
 (4405, np.float64(0.17407765595569785)),
 (27, np.float64(0.16960013132499205)),
 (3536, np.float64(0.16898159235484367)),
 (83, np.float64(0.16888013236829963)),
 (4, np.float64(0.1688801323682996)),
 (2997, np.float64(0.16854996561581054)),
 (305, np.float64(0.1682904582015223)),
 (184, np.float64(0.16685595311797868)),
 (942, np.float64(0.16262312563634837)),
 (172, np.float64(0.1624591083221647)),
 (2200, np.float64(0.160930171455096)),
 (4336, np.float64(0.160930171455096)),
 (2071, np.float64(0.1599005372667078)),
 (1273, np.float64(0.15745916432444343)),
 (1327, np.float64(0.15745916432444343)),
 (168, np.float64(0.15731330124142318)),
 (3160, np.float64(0.15701373439577193)),
 (595, np.float64(0.15392982399673985)),
 (1069, np.float64(0.15392982399673985)),
 (1319, np.float64(0.15386436372416595)),
 (300, np.float64(0.15231794896123563)),
 (661, np.float64(0.15194743527951723)),
 (220, np.float64(0.15075567228888181)),
 (36, np.float64(0.1492405014489273)),
 (529, np.float64(0.1492405014489273)),
 (931, np.float64(0.1487044791289829)),
 (1199, np.float64(0.1487044791289829)),
 (150, np.float64(0.148039131365948)),
 (373, np.float64(0.14782809899727067)),
 (2727, np.float64(0.14782809899727067)),
 (41, np.float64(0.14777011582226215)),
 (1176, np.float64(0.14673479641335554)),
 (1827, np.float64(0.1463423517512409)),
 (4008, np.float64(0.14625448482542613)),
 (139, np.float64(0.14519080172812554)),
 (2511, np.float64(0.14506471329641488)),
 (91, np.float64(0.14484136487558028)),
 (1342, np.float64(0.14484136487558028)),
 (342, np.float64(0.1446354779699756)),
 (158, np.float64(0.1421338109037403)),
 (1669, np.float64(0.1421338109037403)),
 (1978, np.float64(0.14126448280440335)),
 (56, np.float64(0.1399731277389636)),
 (581, np.float64(0.1399731277389636)),
 (1475, np.float64(0.13977653617040256)),
 (838, np.float64(0.1374416265488099)),
 (2756, np.float64(0.13738701759630045)),
 (3352, np.float64(0.1353825902684706)),
 (208, np.float64(0.13483997249264842)),
 (1271, np.float64(0.13483997249264842)),
 (1379, np.float64(0.13483997249264842)),
 (1392, np.float64(0.13402192668680965)),
 (127, np.float64(0.1340050420345616)),
 (94, np.float64(0.13336626734231613)),
 (187, np.float64(0.13336626734231613)),
 (1934, np.float64(0.13336626734231613)),
 (1353, np.float64(0.13193984914006274)),
 (1325, np.float64(0.1315903389919538)),
 (1484, np.float64(0.1315903389919538)),
 (461, np.float64(0.13121597027036952)),
 (937, np.float64(0.13121597027036952)),
 (149, np.float64(0.13005121775247103)),
 (1961, np.float64(0.12989718332941094)),
 (3407, np.float64(0.1292719224987548)),
 (4538, np.float64(0.12921914767618442)),
 (67, np.float64(0.1292191476761844)),
 (311, np.float64(0.1292191476761844)),
 (2968, np.float64(0.12856486930664499)),
 (46, np.float64(0.12792042981336627)),
 (1054, np.float64(0.12792042981336627)),
 (1941, np.float64(0.12741179785940637)),
 (108, np.float64(0.1266600992762247)),
 (513, np.float64(0.1266600992762247)),
 (490, np.float64(0.1257389226923863)),
 (1299, np.float64(0.1257389226923863)),
 (2580, np.float64(0.1257389226923863)),
 (3779, np.float64(0.1257389226923863)),
 (413, np.float64(0.1256297269074015)),
 (568, np.float64(0.1256297269074015)),
 (859, np.float64(0.12392039927415242)),
 (2492, np.float64(0.12392039927415242)),
 (4077, np.float64(0.12392039927415242)),
 (1320, np.float64(0.12351231781710247)),
 (1369, np.float64(0.12309149097933275)),
 (3980, np.float64(0.12309149097933275)),
 (777, np.float64(0.12309149097933272)),
 (17, np.float64(0.12267493651573677)),
 (579, np.float64(0.12227899701112964)),
 (31, np.float64(0.12227899701112963)),
 (275, np.float64(0.12227899701112963)),
 (294, np.float64(0.12227899701112963)),
 (1556, np.float64(0.12227899701112963)),
 (1804, np.float64(0.12227899701112963)),
 (2165, np.float64(0.12227899701112963)),
 (502, np.float64(0.12196734422726127)),
 (2129, np.float64(0.12196734422726127)),
 (95, np.float64(0.12196734422726126)),
 (1295, np.float64(0.12087344460380703)),
 (2177, np.float64(0.1207011373963169)),
 (668, np.float64(0.12060453783110546)),
 (843, np.float64(0.11918282365569904)),
 (2682, np.float64(0.11918282365569904)),
 (3620, np.float64(0.11918282365569904)),
 (3626, np.float64(0.11918282365569904)),
 (505, np.float64(0.11826247919781653)),
 (2374, np.float64(0.11826247919781653)),
 (206, np.float64(0.11798497593106738)),
 (26, np.float64(0.11776030079682895)),
 (111, np.float64(0.11776030079682895)),
 (589, np.float64(0.11776030079682895)),
 (2869, np.float64(0.11776030079682895)),
 (4228, np.float64(0.11631052629980887)),
 (1297, np.float64(0.11631052629980886)),
 (157, np.float64(0.1160517706371319)),
 (466, np.float64(0.1160517706371319)),
 (2648, np.float64(0.1160517706371319)),
 (1218, np.float64(0.11581371547232744)),
 (122, np.float64(0.11495012246792571)),
 (476, np.float64(0.11396057645963795)),
 (773, np.float64(0.11396057645963795)),
 (935, np.float64(0.11396057645963795)),
 (1717, np.float64(0.11396057645963795)),
 (84, np.float64(0.11396057645963793)),
 (1874, np.float64(0.11396057645963793)),
 (1084, np.float64(0.11363636363636365)),
 (7, np.float64(0.11306675421666137)),
 (1737, np.float64(0.11306675421666137)),
 (1711, np.float64(0.11306675421666136)),
 (4348, np.float64(0.11306675421666136)),
 (72, np.float64(0.11236664374387369)),
 (138, np.float64(0.11236664374387369)),
 (2446, np.float64(0.11236664374387369)),
 (3233, np.float64(0.11236664374387369)),
 (102, np.float64(0.11219363880101488)),
 (487, np.float64(0.11197850219117086)),
 (1770, np.float64(0.11197850219117086)),
 (4673, np.float64(0.11197850219117086)),
 (1397, np.float64(0.11113855611859677)),
 (2368, np.float64(0.11113855611859677)),
 (1002, np.float64(0.11009637651263605)),
 (1045, np.float64(0.11009637651263605)),
 (438, np.float64(0.10994987428338562)),
 (549, np.float64(0.10994987428338562)),
 (557, np.float64(0.10994987428338562)),
 (1013, np.float64(0.10994987428338562)),
 (2476, np.float64(0.1096908636190696)),
 (2785, np.float64(0.1096908636190696)),
 (3998, np.float64(0.1096908636190696)),
 (654, np.float64(0.10889310129609417)),
 (454, np.float64(0.10879853497231115)),
 (3210, np.float64(0.1086310236566852)),
 (249, np.float64(0.10830607221477648)),
 (368, np.float64(0.10830607221477648)),
 (1272, np.float64(0.10830607221477648)),
 (1654, np.float64(0.10830607221477648)),
 (3374, np.float64(0.10830607221477648)),
 (160, np.float64(0.10770505460691618)),
 (14, np.float64(0.107682623063487)),
 (126, np.float64(0.10660035817780522)),
 (166, np.float64(0.10660035817780522)),
 (900, np.float64(0.10660035817780522)),
 (1613, np.float64(0.10660035817780522)),
 (134, np.float64(0.10660035817780521)),
 (786, np.float64(0.10660035817780521)),
 (2144, np.float64(0.10660035817780521)),
 (1000, np.float64(0.10586770098608783)),
 (167, np.float64(0.10497277621629561)),
 (678, np.float64(0.10497277621629561)),
 (1829, np.float64(0.10497277621629561)),
 (4468, np.float64(0.10497277621629561)),
 (228, np.float64(0.10453025125088636)),
 (2280, np.float64(0.10453025125088636)),
 (1493, np.float64(0.10444659357341869)),
 (2327, np.float64(0.1037571695799112)),
 (2670, np.float64(0.1037571695799112)),
 (3719, np.float64(0.1037571695799112)),
 (3145, np.float64(0.10375716957991118)),
 (467, np.float64(0.10353942082032278)),
 (536, np.float64(0.10353942082032278)),
 (870, np.float64(0.10353942082032278)),
 (3628, np.float64(0.10353942082032278)),
 (50, np.float64(0.10341753799900383)),
 (1029, np.float64(0.10341753799900383)),
 (1094, np.float64(0.10341753799900383)),
 (2813, np.float64(0.10341753799900383)),
 (432, np.float64(0.10257624248277727)),
 (238, np.float64(0.10241831129983782)),
 (232, np.float64(0.1019294382875251)),
 (422, np.float64(0.1019294382875251)),
 (483, np.float64(0.1019294382875251)),
 (2861, np.float64(0.1019294382875251)),
 (420, np.float64(0.10163945352271772)),
 (1508, np.float64(0.10163945352271772)),
 (2543, np.float64(0.10163945352271772)),
 (85, np.float64(0.10154529930749041)),
 (43, np.float64(0.10072787050317253)),
 (123, np.float64(0.10072787050317253)),
 (3091, np.float64(0.10072787050317253)),
 (87, np.float64(0.10050378152592121)),
 (148, np.float64(0.10050378152592121)),
 (332, np.float64(0.10050378152592121)),
 (544, np.float64(0.10050378152592121)),
 (781, np.float64(0.10050378152592121)),
 (2056, np.float64(0.10050378152592121)),
 (3496, np.float64(0.10050378152592121)),
 (4777, np.float64(0.10050378152592121)),
 (81, np.float64(0.09988907373180403)),
 (229, np.float64(0.09988907373180403)),
 (740, np.float64(0.09984038297885897)),
 (889, np.float64(0.0997155044021832)),
 (1570, np.float64(0.09928550884822428)),
 (236, np.float64(0.09913631941932194)),
 (2737, np.float64(0.09913631941932194)),
 (3405, np.float64(0.09913631941932194)),
 (3924, np.float64(0.09913631941932194)),
 (1414, np.float64(0.09897594780811197)),
 (3307, np.float64(0.09897594780811197)),
 (307, np.float64(0.09883693657685838)),
 (939, np.float64(0.09869275424396536)),
 (1346, np.float64(0.09869275424396534)),
 (2630, np.float64(0.09869275424396534)),
 (3081, np.float64(0.09869275424396534)),
 (4201, np.float64(0.09869275424396534)),
 (1828, np.float64(0.09813358399735746)),
 (2435, np.float64(0.09813358399735746)),
 (28, np.float64(0.0978231976089037)),
 (1235, np.float64(0.0978231976089037)),
 (1612, np.float64(0.0978231976089037)),
 (2171, np.float64(0.0978231976089037)),
 (3426, np.float64(0.0978231976089037)),
 (4017, np.float64(0.0978231976089037)),
 (2095, np.float64(0.09731236802019037)),
 (2102, np.float64(0.09731236802019037)),
 (270, np.float64(0.09731236802019036)),
 (1035, np.float64(0.09656090991705352)),
 (2068, np.float64(0.09656090991705352)),
 (2243, np.float64(0.09656090991705352)),
 (182, np.float64(0.09651142956027287)),
 (572, np.float64(0.09651142956027287)),
 (1451, np.float64(0.09651142956027287)),
 (808, np.float64(0.09642365197998373)),
 (1154, np.float64(0.09642365197998373)),
 (1497, np.float64(0.09642365197998373)),
 (1520, np.float64(0.09642365197998373)),
 (3619, np.float64(0.09642365197998373)),
 (3659, np.float64(0.09642365197998373)),
 (4196, np.float64(0.09642365197998373)),
 (52, np.float64(0.09572994763343545)),
 (2494, np.float64(0.09572994763343545)),
 (223, np.float64(0.09534625892455924)),
 (754, np.float64(0.09534625892455924)),
 (814, np.float64(0.09534625892455924)),
 (4095, np.float64(0.09534625892455924)),
 (199, np.float64(0.09496714704969828)),
 (262, np.float64(0.09496714704969828)),
 (425, np.float64(0.09496714704969828)),
 (995, np.float64(0.09496714704969828)),
 (627, np.float64(0.09430419201928972)),
 (653, np.float64(0.09430419201928972)),
 (2517, np.float64(0.09430419201928972)),
 (2758, np.float64(0.09430419201928972)),
 (3053, np.float64(0.09430419201928972)),
 (3837, np.float64(0.09430419201928972)),
 (170, np.float64(0.09422229518055114)),
 (692, np.float64(0.09422229518055114)),
 (1401, np.float64(0.09422229518055114)),
 (1492, np.float64(0.09422229518055114)),
 (3439, np.float64(0.09422229518055114)),
 (75, np.float64(0.09417632186960223)),
 (787, np.float64(0.09417632186960223)),
 (1288, np.float64(0.09417632186960223)),
 (1610, np.float64(0.09417632186960223)),
 (3338, np.float64(0.09417632186960223)),
 (3872, np.float64(0.09417632186960223)),
 (203, np.float64(0.09304842103984709)),
 (449, np.float64(0.09304842103984709)),
 (472, np.float64(0.09304842103984709)),
 (687, np.float64(0.09304842103984709)),
 (1819, np.float64(0.09304842103984709)),
 (189, np.float64(0.09231861823449956)),
 (239, np.float64(0.09208868358546966)),
 (491, np.float64(0.09208868358546966)),
 (10, np.float64(0.09196009797434057)),
 (68, np.float64(0.09196009797434057)),
 (131, np.float64(0.09196009797434057)),
 (295, np.float64(0.09196009797434057)),
 (510, np.float64(0.09196009797434057)),
 (632, np.float64(0.09196009797434057)),
 (1107, np.float64(0.09196009797434057)),
 (1156, np.float64(0.09196009797434057)),
 (1292, np.float64(0.09196009797434057)),
 (1767, np.float64(0.09196009797434057)),
 (2249, np.float64(0.09196009797434057)),
 (3150, np.float64(0.09196009797434057)),
 (3781, np.float64(0.09196009797434057)),
 (21, np.float64(0.09090909090909091)),
 (3618, np.float64(0.09090909090909091)),
 (3753, np.float64(0.09090909090909091)),
 (2319, np.float64(0.09045340337332909)),
 (2783, np.float64(0.09045340337332909)),
 (4472, np.float64(0.09045340337332909)),
 (1771, np.float64(0.09009374626955591)),
 (4545, np.float64(0.09009374626955591)),
 (312, np.float64(0.08989331499509895)),
 (480, np.float64(0.08989331499509895)),
 (986, np.float64(0.08989331499509895)),
 (2237, np.float64(0.08989331499509895)),
 (2552, np.float64(0.08989331499509895)),
 (2646, np.float64(0.08989331499509895)),
 (3933, np.float64(0.08989331499509895)),
 (371, np.float64(0.08891084489487741)),
 (535, np.float64(0.08891084489487741)),
 (643, np.float64(0.08891084489487741)),
 (1080, np.float64(0.08891084489487741)),
 (1111, np.float64(0.08891084489487741)),
 (1193, np.float64(0.08891084489487741)),
 (2588, np.float64(0.08891084489487741)),
 (2816, np.float64(0.08891084489487741)),
 (3006, np.float64(0.08891084489487741)),
 (3609, np.float64(0.08891084489487741)),
 (4178, np.float64(0.08891084489487741)),
 (5, np.float64(0.0888336318148377)),
 (153, np.float64(0.0888336318148377)),
 (213, np.float64(0.0888336318148377)),
 (1075, np.float64(0.0886968593983624)),
 (1571, np.float64(0.0886968593983624)),
 (1723, np.float64(0.0886968593983624)),
 (2452, np.float64(0.0886968593983624)),
 (2641, np.float64(0.0886968593983624)),
 (3734, np.float64(0.0886968593983624)),
 (3899, np.float64(0.0886968593983624)),
 (4254, np.float64(0.0886968593983624)),
 (4490, np.float64(0.0886968593983624)),
 (1435, np.float64(0.08822308415507318)),
 (266, np.float64(0.0879598994267085)),
 (410, np.float64(0.0879598994267085)),
 (1143, np.float64(0.0879598994267085)),
 (3253, np.float64(0.0879598994267085)),
 (18, np.float64(0.0876249546540977)),
 (121, np.float64(0.08703882797784893)),
 (193, np.float64(0.08703882797784893)),
 (660, np.float64(0.08703882797784893)),
 (715, np.float64(0.08703882797784893)),
 (1682, np.float64(0.08703882797784893)),
 (2157, np.float64(0.08703882797784893)),
 (3535, np.float64(0.08703882797784893)),
 (3632, np.float64(0.08703882797784893)),
 (4016, np.float64(0.08703882797784893)),
 (4133, np.float64(0.08703882797784893)),
 (4203, np.float64(0.08703882797784893)),
 (4331, np.float64(0.08703882797784893)),
 (4343, np.float64(0.08703882797784893)),
 (4403, np.float64(0.08703882797784893)),
 (4641, np.float64(0.08703882797784893)),
 (363, np.float64(0.08703882797784891)),
 (230, np.float64(0.08646430798325933)),
 (334, np.float64(0.0861460984507896)),
 (1442, np.float64(0.0861460984507896)),
 (1688, np.float64(0.0861460984507896)),
 (1842, np.float64(0.0861460984507896)),
 (2523, np.float64(0.0861460984507896)),
 (3138, np.float64(0.0861460984507896)),
 (3387, np.float64(0.0861460984507896)),
 (256, np.float64(0.08547043234472845)),
 (624, np.float64(0.08547043234472845)),
 (791, np.float64(0.08547043234472845)),
 (1278, np.float64(0.08547043234472845)),
 (2049, np.float64(0.08547043234472845)),
 (2392, np.float64(0.08547043234472845)),
 (3481, np.float64(0.08547043234472845)),
 (3952, np.float64(0.08547043234472845)),
 (1483, np.float64(0.08534859274986485)),
 (11, np.float64(0.08528028654224418)),
 (445, np.float64(0.08528028654224418)),
 (898, np.float64(0.08528028654224418)),
 (1902, np.float64(0.08528028654224418)),
 (799, np.float64(0.0848066914440948)),
 (2566, np.float64(0.0848066914440948)),
 (2350, np.float64(0.0844400661841498)),
 (3551, np.float64(0.0844400661841498)),
 (3879, np.float64(0.0844400661841498)),
 (301, np.float64(0.08427498280790527)),
 (785, np.float64(0.08427498280790527)),
 (319, np.float64(0.08398387664337814)),
 (794, np.float64(0.08398387664337814)),
 (951, np.float64(0.08398387664337814)),
 (1304, np.float64(0.08398387664337814)),
 (2558, np.float64(0.08398387664337814)),
 (2647, np.float64(0.08398387664337814)),
 (2955, np.float64(0.08398387664337814)),
 (3446, np.float64(0.08398387664337814)),
 (278, np.float64(0.08362420100070908)),
 (331, np.float64(0.08362420100070908)),
 (412, np.float64(0.08362420100070908)),
 (596, np.float64(0.08362420100070908)),
 (602, np.float64(0.08362420100070908)),
 (1355, np.float64(0.08362420100070908)),
 (1697, np.float64(0.08362420100070908)),
 (2484, np.float64(0.08362420100070908)),
 (2709, np.float64(0.08362420100070908)),
 (3460, np.float64(0.08362420100070908)),
 (3718, np.float64(0.08362420100070908)),
 (4516, np.float64(0.08362420100070908)),
 (200, np.float64(0.08257228238447704)),
 (1476, np.float64(0.08257228238447704)),
 (2864, np.float64(0.08257228238447704)),
 (2111, np.float64(0.08224396186997113)),
 (330, np.float64(0.08206099398622183)),
 (827, np.float64(0.08206099398622183)),
 (1173, np.float64(0.08206099398622183)),
 (2031, np.float64(0.08206099398622183)),
 (479, np.float64(0.08175874252096607)),
 (274, np.float64(0.08166076915740766)),
 (217, np.float64(0.08131156281817417)),
 (234, np.float64(0.08131156281817417)),
 (419, np.float64(0.08131156281817417)),
 (508, np.float64(0.08131156281817417)),
 (1231, np.float64(0.08131156281817417)),
 (3554, np.float64(0.08131156281817417)),
 (209, np.float64(0.08122955416108235)),
 (233, np.float64(0.08122955416108235)),
 (244, np.float64(0.08122955416108235)),
 (356, np.float64(0.08122955416108235)),
 (1257, np.float64(0.08122955416108235)),
 (1850, np.float64(0.08122955416108235)),
 (2089, np.float64(0.08122955416108235)),
 (2212, np.float64(0.08122955416108235)),
 (2247, np.float64(0.08122955416108235)),
 (143, np.float64(0.08058229640253803)),
 (383, np.float64(0.08058229640253803)),
 (671, np.float64(0.08058229640253803)),
 (752, np.float64(0.08058229640253803)),
 (813, np.float64(0.08058229640253803)),
 (1274, np.float64(0.08058229640253803)),
 (2105, np.float64(0.08058229640253803)),
 (2792, np.float64(0.08058229640253803)),
 (4353, np.float64(0.08058229640253803)),
 (4502, np.float64(0.08058229640253803)),
 (141, np.float64(0.0799502686333539)),
 (389, np.float64(0.0799502686333539)),
 (1585, np.float64(0.0799502686333539)),
 (1741, np.float64(0.0799502686333539)),
 (1752, np.float64(0.0799502686333539)),
 (3133, np.float64(0.0799502686333539)),
 (3366, np.float64(0.0799502686333539)),
 (3674, np.float64(0.0799502686333539)),
 (4754, np.float64(0.0799502686333539)),
 (243, np.float64(0.07987230638308718)),
 (2359, np.float64(0.07987230638308718)),
 (2736, np.float64(0.07987230638308718)),
 (3903, np.float64(0.07987230638308718)),
 (1630, np.float64(0.07945521577046602)),

In [50]:
def recommend(movies):
    # 1. get the index of the movie you want to recommend for
    movie_index = new_df[new_df['title'] == movies].index[0]
    
    # 2. get all similarity scores for this movie
    distances = similarity[movie_index]
    
    # 3. pair every movie index with its similarity score and sort descending
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    # 4. print recommended movie indices
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [51]:
recommend('Batman Begins')

The Dark Knight
Batman
The Dark Knight Rises
Amidst the Devil's Wings
Batman

In [52]:
new_df.iloc[1214].title

'Aliens vs Predator: Requiem'

In [53]:
movies['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

for creating web page

In [54]:
import pickle

In [55]:
pickle.dump(new_df,open('movie.pkl','wb'))

In [56]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [57]:
pickle.dump(similarity,open('similarity.pkl','wb'))